/* צבע הרקע של סרגל הניווט */
.my-main-navbar {
    background-color: var(--lightbeigh0) !important;

}

/* כפתור הרשמה/התחברות */
.btn-Login-Navbar {
    background-color: var(--button);
    border: 1.15px solid var(--button);
    color: var(--lightbeigh0);
}

.btn-Login-Navbar:hover {
    background-color: var(--lightbeigh0);
    border: 1.3px solid var(--button);
    color: var(--button);
}

/* הכפתור כאשר המשתמש מחובר  */
#authBtn.btn-Logout-Navbar {
    background-color: var(--lightbeigh0);
    border: 1.25px solid var(--button);
    color: var(--button);
}

#authBtn.btn-Logout-Navbar:hover {
    background-color: var(--lightbeigh0);
    border: 1.4px solid var(--button) !important;
    color: var(--button);
}

/* הגדרות כלליות לכפתור ההתחברות */
#authBtn {
    white-space: nowrap;
    min-width: 120px;
}

/* עיצוב הקישורים בתפריט */
.navbar-nav .nav-link {
    white-space: nowrap;
    color: var(--logo) !important;
    font-size: 22px !important;
    margin: 8px;
}

/* התאמות למסכים קטנים  */
@media (max-width: 991px) {

    #authBtn {
        width: fit-content;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .navbar-nav {
        text-align: right;
        padding-right: 0;
    }
}