/* עיצוב העמוד הראשי של טופס ההרשמה */
.registirationForm {
    max-width: 650px;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: var(--lightbeigh0);
    border-radius: 8px;
}

/* אימות סיסמה מוצלח */
.input-success {
    border: 2px solid #4CAF50;
    background-color: #e8f5e9;
}

/* סיסמא לא תואמת */
.input-error {
    border: 2px solid #f44336;
    background-color: #ffebee;
}